html,
body { 
    margin: 0; 
}

#time-log {
  position: absolute;
  font-size: 12px;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(200, 200, 200, 0.1);
  color: lavender;
  bottom: 10px;
  right: 10px;
}